@import '@shoelace-style/shoelace/dist/themes/dark.css';
body {
    font-family: var(--sl-font-sans);
}

#menu-toggle {
    position: fixed;
    top: 0.25rem;
    left: 0.25rem;
    z-index: 1000;
    background: var(--sl-color-neutral-0);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: 250ms scale ease, 250ms rotate ease;
}

#menu-toggle svg {
    width: 24px;
    height: 24px;
}

#main-content {

    padding-top: 2rem;
}
